body {
  background: white;
  /* Background pattern from subtlepatterns.com */
  background-image: url(res/background.png);
  background-repeat: repeat;
}

@font-face {
    font-family: Muli;
    src: url(Muli-Regular.ttf);
}

#container {
    position: relative;
    width: 35%;
    min-width: 500px;

    margin: 0 auto;
    margin-top: 10%;

    background-color:rgba(255,255,255,0.6);
    border: 1.5rem solid;
    border-color: rgba(255,255,255,0.0);
    border-radius: 10px;

    overflow: auto;
    text-align: center;
}

@media screen and (min-width:550px) {
  pic {
    float: left;
    width: 25%;
  }
  section {
    margin-left: 25%;
  }
}

@media screen and (max-width:549px) {
  #container {
    min-width: 300px;
  }
  pic li {
    display: inline;
  }
}

#profile {
  width: 100%;
  border-radius: 100em;
  max-width: 8rem;
}

#heading {
    font-family: "Muli";
    color: black;
    font-weight: bold;
    font-size: 2.2rem;
}

#text {
    font-family: "Muli";
    color: #707070;
    font-size: 1.2rem;
}

img.icon {
  vertical-align: middle;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  width: 1.5rem;
}
