body {
  /* Background pattern from subtlepatterns.com */
  background-image: url(res/background.png);
  background-repeat: repeat;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10%;
  background-color: #fff;
  border: 1rem solid;
  border-radius: 3px;
  border-color: #fff;
  overflow: hidden;
  text-align: center;
}

.profile {
  width: 100%;
  border-radius: 100em;
  width: 10rem;
  margin-top: 1em;
}

.heading {
  color: #212121;
  font-weight: normal;
}

.content {
  color: #757575;
  font-size: 1.2rem;
}

img.icon {
  padding-left: 2%;
  padding-right: 2%;
  opacity: 0.5;
  width: 1.5rem;
}

img.icon:hover {
  opacity: 0.2;
}
